*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #ECF0F1;
	font-family: sans-serif;
}


h1{
	color: red;
}

.header {
	padding-top: 20px;
	background-color: #63B4CF;
	text-align: center;
	padding-bottom: 20px;
}

.header h1{
	color: #ECF0F1;
	padding-bottom: 10px;
}
.nav li{
	display: inline;
	margin: 2%;
}
.nav ul {
	padding-bottom: 20px;
}	

.nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.nav a:hover {
	color: black;
}
.content {
	text-align: center;
}
#bilde {
	margin-top: 20px;
	border-radius: 10px;
}